* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/***** main-visual *****/
.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
}

/***** main *****/
.main {
  width: 840px;
  margin: 50px auto;
}

.service {
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 30px;
}

.service-bottom { /* これをなくし全て".service"にしても見た目は変わらない */
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d3d3;
}