* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

/***** main *****/
main {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}

/* list */
.list {
  list-style: none;
  margin-bottom: 50px;
}

.item {
  list-style: none;
  padding: 20px;
}