* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** main *****/
main {
  width: 960px;
  margin: 50px auto;
}

/* list */
.list {
  list-style: none;
  margin-bottom: 50px;
}

.item {
  padding: 20px;
}

.item:nth-child(odd) {
  background-color: #eeeeee;
}

/* box */
.boxs {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  margin: 0 5% 40px 0;
}

.box:nth-child(4n+1) {
  background-color: #ff8c00;
}

.box:nth-child(3n) {
  margin: 0 0 40px 0;
}

.box:nth-child(n+7) {
  margin-bottom: 0;
}